__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

venv/
env/
.venv/
.pyenv/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

.env
*.env
token.json

*.db
*.sqlite
*.sqlite3
cache/
temp/
tmp/
*.log

base_videos/*.mp4
base_videos/*.mov
base_videos/*.mkv
base_videos/*.gif

!base_videos/default.mp4

*.gif

.DS_Store
.AppleDouble
.LSOverride

.vscode/
.idea/
*.swp
*.swo

*.tmp
*.temp
*.part